.catalog {
    padding-bottom: 75px;
    .title {
        font-weight: 500;
    }
    &__tabs {
        margin-top: 50px;
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        padding: 0;
    }
    &__tab {
        width: 202px;
        height: 52px;
        border: 2px solid #d0d0d0;
        text-transform: uppercase;
        color: #6b6b6b;
        font-weight: 500;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: skewX(-20deg);
        margin: 0 5px;
        transition: 0.5s all;
        cursor: pointer;
        &:hover {
            box-shadow: 0 0 15px $main-color;
            border: none;
        }
        div {
            transform: skewX(20deg);
        }
        &_active {
            color: #ffffff;
            background-color: $main-color;
            border: none;
        }
    }
    &__content {
        margin-top: 60px;
        display: none;
        justify-content: space-between;
        flex-wrap: wrap;
        &_active {
            display: flex;
        }
    }
    &-item {
        margin-bottom: 12px;
        width: 300px;
        min-height: 442px;
        border: 2px solid #e8e8e8;
        padding: 20px;
        overflow: hidden;
        &__img {
            max-width: 100%;
            height: 200px;
            display: block;
            margin: 0 auto;
        }
        &__subtitle {
            margin-top: 20px;
            font-weight: 700;
            font-size: 16px;
            line-height: 25px;
            color: #0d0d0d;
            text-align: center;
        }
        &__description {
            margin-top: 16px;
            font-weight: 300;
            font-size: 16px;
            text-align: center;
        }
        &__link {
            display: block;
            margin-top: 17px;
            color: $main-color;
            font-weight: 500;
            font-size: 14px;
            text-decoration: underline;
            text-align: center;
            text-transform: uppercase;
            &:hover {
                color: $main-color;
            }
        }
        hr {
            margin-top: 20px;
            margin-bottom: 20px;
            background-color: #e8e8e8;
        }
        &__footer {
            display: flex;
            justify-content: space-between;
        }
        &__old-price {
            text-decoration: line-through;
            font-size: 14px;
            font-weight: 300;
            color: #555555;
        }
        &__price {
            color: #050505;
            font-size: 20px;
            font-weight: 700;
        }
        &__wrapper {
            display: flex;
            width: calc(200% + 40px);
        }
        &__content {
            width: 50%;
            transform: translateX(calc(-100% - 20px));
            transition: 0.5s all;
            &_active {
                transform: translateX(0%);
                margin-right: 20px;
            }
        }
        &__list {
            width: 50%;
            margin-left: 0px;
            padding-left: 14px;
            transform: translateX(0%);
            padding-right: 20px;
            transition: 0.5s all;
            margin-bottom: 0;
            list-style-type: none;
            &_active {
                transform: translateX(-100%);
                margin-left: 0px;
                padding-left: 14px;
            }
            li {
                position: relative;
                color: #555555;
                font-size: 14px;
                font-weight: 300;
                margin-bottom: 20px;
                &::before {
                    content: "";
                    position: absolute;
                    width: 5px;
                    height: 5px;
                    background-color: $main-color;
                    top: 8px;
                    left: -14px;

                }
            }
        }
        &__back {
            position: absolute;
            display: block;
            bottom: 0;
            left: 50%;
            transform: translateX(calc(-50% - 10px));
            color: $main-color;
            font-weight: 500;
            font-size: 14px;
            text-decoration: underline;
            text-align: center;
            text-transform: uppercase;
            &:hover {
                color: $main-color;
            }
        }
    }
}

@media (max-width: 1199.98px) {
    .catalog {
        &__tabs {
            margin-top: 46px;
        }
        &__tab {
            width: 192px;
            height: 50px;
            font-size: 17px;
            padding-top: 3px;
        }
    }
}

@media (max-width: 991.98px) {
    .catalog {
        .title {

        }
        &__tabs {

        }
        &__tab {
            &:hover {

            }
            div {

            }
            &_active {

            }
        }
        &__content {
            &_active {

            }
        }
        &-item {
            &__img {

            }
            &__subtitle {

            }
            &__description {

            }
        }
        &__link {
            &:hover {

            }
        }
        hr {

        }
        &__footer {

        }
        &__old-price {

        }
        &__price {

        }
        &__wrapper {

        }
        &__content {
            &_active {

            }
        }
        &__list {
            &_active {

            }
            li {
                &::before {

                }
            }
        }
        &__back {
            &:hover {
                
            }
        }
    }
}

@media (max-width: 767.98px) {
    .catalog {
        .title {

        }
        &__tabs {

        }
        &__tab {
            &:hover {

            }
            div {

            }
            &_active {

            }
        }
        &__content {
            &_active {

            }
        }
        &-item {
            &__img {

            }
            &__subtitle {

            }
            &__description {

            }
        }
        &__link {
            &:hover {

            }
        }
        hr {

        }
        &__footer {

        }
        &__old-price {

        }
        &__price {

        }
        &__wrapper {

        }
        &__content {
            &_active {

            }
        }
        &__list {
            &_active {

            }
            li {
                &::before {

                }
            }
        }
        &__back {
            &:hover {
                
            }
        }
    }
}

@media (max-width: 575.98px) {
    .catalog {
        .title {

        }
        &__tabs {

        }
        &__tab {
            &:hover {

            }
            div {

            }
            &_active {

            }
        }
        &__content {
            &_active {

            }
        }
        &-item {
            &__img {

            }
            &__subtitle {

            }
            &__description {

            }
        }
        &__link {
            &:hover {

            }
        }
        hr {

        }
        &__footer {

        }
        &__old-price {

        }
        &__price {

        }
        &__wrapper {

        }
        &__content {
            &_active {

            }
        }
        &__list {
            &_active {

            }
            li {
                &::before {

                }
            }
        }
        &__back {
            &:hover {
                
            }
        }
    }
}