.consultation {
    min-height: 680px;
    padding: 100px 0 92px 0;
    background: url("../image/backgrounds/bg2.png") center (center/cover) no-repeat;
    &__description {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #ffffff;
    }
    .error {
        border: 2px solid $main-color;
    }
    label.error {
        color: #ffffff;
        border: none;
        text-align: center;
        margin-bottom: 15px;
        font-size: 14px;
    }
}

@media (max-width: 1199.98px) {
    .consultation {
        &__description {
            font-size: 19px;
            line-height: 28px;
        }
    }
}

@media (max-width: 991.98px) {
    .consultation {
        min-height: 488px;
        padding: 50px 0;
        &__description {
            font-size: 18px;
            line-height: 25px;
        }
    }
}

@media (max-width: 767.98px) {
    .consultation {
        min-height: 355px;
        padding: 30px 0;
        &__description {
            font-size: 15px;
            line-height: 20px;
        }
    }
}

@media (max-width: 575.98px) {
    .consultation {
        min-height: 0;
        padding: 20px 0;
        &__description {
            font-size: 14px;
            text-align: center;
        }
    }
}