.footer {
    min-height: 630px;
    position: relative;
    &__map {
        height: 630px;
    }
    &__info {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 460px;
        height: 270px;
        background: $main-color;
        padding: 50px 0 60px 0;
        text-align: center;
    }
    &__address {
        font-weight: 500;
        font-size: 20px;
        color: #ffffff;
    }
    &__phone {
        display: block;
        font-weight: 700;
        font-size: 20px;
        color: #ffffff;
        margin-top: 36px;
        text-decoration: none;
        line-height: 20px;
        &:hover {
            color: #ffffff;
        }
    }
    &__social {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 36px;
    }
    &__social-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border: 2px solid #ffffff;
        border-radius: 100%;
        margin: 0 15px;
        img {
            height: 27px;
        }
    }
}

@media (max-width: 1199.98px) {
    .footer {
        &__info {
            width: 440px;
            height: 245px;
        }
        &__address {
            font-size: 18px;
        }
        &__phone {
            font-size: 18px;
            margin-top: 30px;
        }
        &__social {
            margin-top: 30px;
        }
        &__social-item {
            width: 45px;
            height: 45px;
            img {
                height: 25px;
            }
        }
    }
}

@media (max-width: 991.98px) {
    .footer {
        min-height: 500px;
        &__map {
            height: 500px;
        }
        &__info {
            width: 400px;
            height: 200px;
            padding: 40px 0;
        }
        &__address {
            font-size: 16px;
        }
        &__phone {
            font-size: 16px;
            margin-top: 20px;
        }
        &__social {
            margin-top: 20px;
        }
        &__social-item {
            width: 40px;
            height: 40px;
            img {
                height: 20px;
            }
        }
    }
}

@media (max-width: 767.98px) {
    .footer {
        min-height: 400px;
        &__map {
            height: 400px;
        }
        &__info {
            width: 300px;
            height: 155px;
            padding: 30px 0;
        }
        &__address {
            font-size: 14px;
            line-height: 18px;
            margin-bottom: 0;
        }
        &__phone {
            font-size: 14px;
            margin-top: 10px;
        }
        &__social {
            margin-top: 10px;
        }
        &__social-item {
            width: 35px;
            height: 35px;
            margin: 0 10px;
            img {
                height: 17px;
            }
        }
    }
}

@media (max-width: 575.98px) {
    .footer {
        &__info {
            width: 280px;
            height: 130px;
            padding: 20px 0;
        }
        &__address {
            line-height: 14px;
        }
    }
}