.footer {
    min-height: 630px;
    position: relative;
    &__info {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 460px;
        height: 270px;
        background: $main-color;
        padding: 50px 0 60px 0;
        text-align: center;
    }
    &__address {
        font-weight: 500;
        font-size: 20px;
        color: #ffffff;
        line-height: 20px;
    }
    &__phone {
        display: block;
        font-weight: 700;
        font-size: 20px;
        color: #ffffff;
        margin-top: 36px;
        text-decoration: none;
        line-height: 20px;
        &:hover {
            color: #ffffff;
        }
    }
    &__social {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 36px;
    }
    &__social-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border: 2px solid #ffffff;
        border-radius: 100%;
        margin: 0 15px;
        img {
            height: 27px;
        }
    }
}

@media (max-width: 1199.98px) {
    .footer {
        min-height: 600px;
        &__info {
            width: 440px;
            height: 245px;
        }
        &__address {
            font-size: 18px;
        }
        &__phone {
            font-size: 18px;
            margin-top: 30px;
        }
        &__social {
            margin-top: 30px;
        }
        &__social-item {
            width: 45px;
            height: 45px;
            img {
                height: 25px;
            }
        }
    }
}

@media (max-width: 991.98px) {
    .footer {
        &__info {

        }
        &__address {

        }
        &__phone {
            &:hover {

            }
        }
        &__social {

        }
        &__social-item {
            img {
                
            }
        }
    }
}

@media (max-width: 767.98px) {
    .footer {
        &__info {

        }
        &__address {

        }
        &__phone {
            &:hover {

            }
        }
        &__social {

        }
        &__social-item {
            img {
                
            }
        }
    }
}

@media (max-width: 575.98px) {
    .footer {
        &__info {

        }
        &__address {

        }
        &__phone {
            &:hover {

            }
        }
        &__social {

        }
        &__social-item {
            img {
                
            }
        }
    }
}