.promo {
    min-height: 650px;
    padding: 21px 0 93px 0;
    background: url("../image/backgrounds/bg1.png") center (center/cover) no-repeat;
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 90px;
    }
    &__header {
        font-weight: 700;
        font-size: 42px;
        color: #ffffff;
        text-transform: uppercase;
        line-height: 42px;
    }
    &__subheader {
        margin-top: 17px;
        font-weight: 500;
        font-size: 24px;
        line-height: 24px;
        color: #ffffff;
        text-transform: uppercase;
    }
    &__icons {
        margin-top: 65px;
        width: 425px;
        display: flex;
        justify-content: space-between;
    }
    &__icon {
        width: 110px;
        text-align: center;
        color: #ffffff;
        font-size: 14px;
        font-weight: 500;
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
    &__link {
        color: #ffffff;
        font-weight: 500;
        font-size: 16px;
        margin-top: 18px;
        a {
            color: #ffffff;
            text-transform: uppercase;
            text-decoration: underline;
        }
    }
}

@media (max-width: 1199.98px) {
    .promo {
        &__wrapper {
            margin-top: 70px;
        }
        &__header {
            font-size: 40px;
        }
        &__subheader {
            font-size: 23px;
            margin-top: 15px;
        }
        &__icons {
            width: 410px;
            margin-top: 60px;
        }
    }
}

@media (max-width: 991.98px) {
    .promo {
        min-height: 537px;
        padding: 20px 0 50px 0;
        &__wrapper {
            margin-top: 50px;
        }
        &__header {
            font-size: 38px;
        }
        &__subheader {
            font-size: 21px;
            margin-top: 12px;
        }
        &__icons {
            margin-top: 50px;
            width: 400px;
        }
        &__icon {
            width: 100px;
            font-size: 13px;
        }
        &__link {
            margin-top: 10px;
            font-size: 15px;
        }
    }
}

@media (max-width: 767.98px) {
    .promo {
        min-height: 0;
        padding: 20px 0 30px 0;
        &__wrapper {
            margin-top: 30px;
        }
        &__header {
            font-size: 35px;
            margin: 0 auto;
        }
        &__subheader {
            font-size: 19px;
            margin: 0 auto;
        }
        &__icons {
            width: 350px;
            margin: 20px auto 0 auto;
        }
        &__icon {
            img {
                margin-bottom: 10px;
            }
        }
        &__link {
            margin: 10px auto 0 auto;
        }
    }
}

@media (max-width: 575.98px) {
    .promo {
        &__wrapper {
            
        }
        &__header {
            
        }
        &__subheader {
            
        }
        &__icons {

        }
        &__icon {

        }
        &__link {

        }
    }
}