.reviews {
    padding-bottom: 50px;
    &__content {
        margin-top: 60px;
    }
    .review-item {
        display: flex;
        margin-bottom: 60px;
        &__logo {
            width: 169px;
            height: 169px;
            margin-right: 60px;
        }
        &__name {
            color: #0d0d0d;
            font-weight: 700;
            font-size: 18px;
            margin-top: -5px;
        }
        &__subtitle {
            color: #646464;
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
        }
        &__review {
            margin-top: 10px;
            max-width: 660px;
            font-weight: 300;
            font-size: 16px;
            line-height: 25px;
        }
        &:nth-child(3) {
            margin-bottom: 0;
        }
    }
}

@media (max-width: 1199.98px) {
    .reviews {
        .review-item {
            &__logo {
                
            }
            &__name {
                font-size: 17px;
            }
            &__subtitle {
                font-size: 13px;
                line-height: 20px;
            }
            &__review {
                font-size: 15px;
                line-height: 24px;
            }
        }
    }
}

@media (max-width: 991.98px) {
    .reviews {
        &__content {

        }
        .review-item {
            &__logo {

            }
            &__name {

            }
            &__subtitle {

            }
            &__review {

            }
            &:nth-child(3) {
                
            }
        }
    }
}

@media (max-width: 767.98px) {
    .reviews {
        &__content {

        }
        .review-item {
            &__logo {

            }
            &__name {

            }
            &__subtitle {

            }
            &__review {

            }
            &:nth-child(3) {
                
            }
        }
    }
}

@media (max-width: 575.98px) {
    .reviews {
        &__content {

        }
        .review-item {
            &__logo {

            }
            &__name {

            }
            &__subtitle {

            }
            &__review {

            }
            &:nth-child(3) {
                
            }
        }
    }
}